.col__span-50 {
  width: 100%;
  min-width: 100%;

  @include media-query(lap-and-up) {
    width: 50%;
    min-width: 50%;
  }
}

.col__span-25 {
  width: 100%;
  min-width: 100%;

  @media(min-width: 950px) {
    width: 25%;
    min-width: 25%;
  }
}

.stacked-row {
  width: 100%;

  & > div {
    border-bottom: none;
    border-right: $border;

    &:last-child {
      border: none;
    }
  }

  // Break to mobile earlier due to layout complexity.
  @media(max-width: 950px) {
    flex-direction: column;

    & > div {
      flex-basis: 100%;
      width: 100%;
      border-right: none;
      border-bottom: $border;
      align-items: center;

      &:not(:last-child) {
        padding-bottom: 24px;
        margin-bottom: 24px;
      }

      .area-legend {
        justify-content: center;
        & > div { padding: 0 16px;}
      }
    } 
  }
}
