.infographic-start {
	border-bottom: $border;
	width: 100%;

	.grommetux-heading {
		max-width: 950px;
	}

	.col__span-50 {
		width: 50%;
		height: auto;
	}

	.col__span-100 {
		width: 100%;
		height: auto;
	}

	&.col-row {
		padding-bottom: 20px;
	}

	h1.infographic-title {
		font-size: 2.75rem;
		line-height: 2.5rem;

		@include media-query(lap-and-up) {
			font-size: 4rem;
			line-height: 3.5rem;
		}
	}
}
