.grommet.grommetux-layer.grommetux-layer--flush {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  height: 100vh;

  .grommetux-layer__container {
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		background-color: nth($brand-accent-colors, 2);
		color: nth($brand-grey-colors, 1);
    padding-top: 24px;
    padding-bottom: 24px;

    .grommetux-headline {
    	margin-bottom: 24px;
    	margin-top: 32px;
      transform: none;

    	&.grommetux-headline--large {
    		font-weight: 600;

    		@media(max-width: 45em), (max-height: 500px) {
					font-size: 2rem;
				}
    	}
    }

    .grommetux-layer__closer {
    	svg { stroke: nth($brand-grey-colors, 1); }
    }

    img {
    	padding: 24px;
    	max-height: 340px;
    }
  }

  &.grommetux-layer--flush .grommetux-layer__container {
  	padding: 24px 0;
  }

  .share {
    padding-left: 24px;
    padding-right: 24px;

    .share__icons {
      @media (min-width: 45em) {
        text-align: center;
      }

      a:first-child .grommetux-anchor__icon {
        padding-left: 0;
      }

      .grommetux-anchor__icon svg {
        fill: nth($brand-grey-colors, 1);
        stroke: nth($brand-grey-colors, 1);
      }
    }
  }
}

.grommet.grommetux-layer.grommetux-layer--align-right {
  position: fixed;
  top: 0;
  z-index: 25;

 .grommetux-layer__container .share {
    padding-top: 40px;

    .grommetux-headline {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }
  }
}

// Full screen desktop layer.
@include media-query(lap-and-up) {
  .grommet.grommetux-layer.grommetux-layer--align-center:not(.grometux-layer--hidden) .grommetux-layer__container {
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      max-height: 100vh;

      .grommetux-headline--large { font-size: 3rem; }
  }
}
